{% extends 'manager/manager_base.html' %}
{% load static %}


{% block content %}



    <style>
        .form-inline {
          display: flex;
          flex-flow: row wrap;
          align-items: center;
        }

        /* Add some margins for each label */
        .form-inline label {
          margin: 5px 10px 5px 0;
        }

        /* Style the input fields */
        .form-inline input {
          vertical-align: middle;
          margin: 5px 10px 5px 0;
          padding: 10px;
          background-color: #fff;
          border: 1px solid #ddd;
        }

        /* Style the submit button */
        .form-inline button {
          padding: 10px 20px;
          background-color: dodgerblue;
          border: 1px solid #ddd;
          color: white;
        }

        .form-inline button:hover {
          background-color: royalblue;
        }

        /* Add responsiveness - display the form controls vertically instead of horizontally on screens that are less than 800px wide */
        @media (max-width: 800px) {
          .form-inline input {
            margin: 10px 0;
          }

          .form-inline {
            flex-direction: column;
            align-items: stretch;
          }
        }
        .col-1 {
            max-width: 800px;
            padding: 30px;
            float: left;
            height: 50%;
            z-index: 1010101010
        }

        .col-2 {
            max-width: 500px;
            padding: 30px;
            text-align: center;
            float: top;
            height: 50%;
            z-index: 1010101010
        }


    </style>


    <div style="height: 100%; width: 100%; padding: 20px" >

            <div   style=" border-color: darkgrey;" >


                <form method="post" class="form-inline" style="background-color: transparent">
                    {% csrf_token %}

<!--                     <h3 style="font-weight: bolder;color: #666666;">Approve Coupon Code</h3> -->
			<h3 style="font-weight: bolder;color: #666666;margin-left: 110px;">Approve Coupon Code</h3>


                    <div  data-validate = "Message is required">
                        <input class="input1" type="text" name="transaction_id" value="Transaction Id" onclick="this.value=''">
                        <span class="shadow-input1"></span>
                    </div>

                    <div  data-validate = "Message is required">
                        <input list="tranActions" name="transaction_action" value="Choose Action" onclick="this.value=''">
                            <datalist id="tranActions">
                                <option value="APPROVE">
                                <option value="DECLINE">
                            </datalist>
                    </div>


                    <div class="container-contact1-form-btn">
                        <button  type="submit"  value="Submit" class="contact1-form-btn">
                            <span>
                                Proceed
                                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                            </span>
                        </button>
                    </div>

			    </form>


            </div>


            <div   >

                <table class="table table-hover " style="counter-reset: rowNumber;overflow:scroll;max-width: 100%; table-layout: fixed  ">
<!--                     <caption style=" color: black;font-weight: bolder  ;caption-side: top;text-align: center;">Money Orders</caption> -->
			<caption style="color: black;font-weight: bolder;caption-side: top;text-align: center;margin-top: 70px;">Money Orders</caption>
                    <thead>
                        </tr>
                        <tr>
                            <th style="color: black;font-weight: bolder  ;word-wrap: break-word" scope="col">TransId</th>
                            <th style="color: black;font-weight: bolder  ;word-wrap: break-word" scope="col">UserEmail</th>
                            <th style="color: black;font-weight: bolder  ;word-wrap: break-word"scope="col">Amount</th>
                            <th style="color: black;font-weight: bolder  ;word-wrap: break-word"scope="col">Date</th>
                            <th style="color: black;font-weight: bolder  ;word-wrap: break-word"scope="col">Time</th>
                            <th style="color: black;font-weight: bolder  ;word-wrap: break-word"scope="col">Mode</th>
                            <th style="color: black;font-weight: bolder  ;word-wrap: break-word"scope="col">From</th>
                            <th style="color: black;font-weight: bolder  ;word-wrap: break-word"scope="col">Status</th>
                            <th style="color: black;font-weight: bolder  ;word-wrap: break-word"scope="col">Remark</th>
                            <th style="color: black;font-weight: bolder  ;word-wrap: break-word"scope="col">CouponCode</th>
                            <th style="color: black;font-weight: bolder  ;word-wrap: break-word"scope="col">Approved</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for i in orders %}
                            <tr style="color: black;font-weight: bolder  ;word-wrap: break-word">
                                <td>{{ i.id }}</td>
                                <td>{{ i.order_created_by.email }}</td>
                                <td>{{ i.order_amount }}</td>
                                <td>{{ i.date }}</td>
                                <td>{{ i.time }}</td>
                                <td>{{ i.get_order_mode_display }}</td>
                                <td>{{ i.From }}</td>
                                <td>{{ i.order_status }}</td>
                                <td>{{ i.order_remark }}</td>
                                <td>{{ i.order_coupon_code }}</td>
                                <td>{{ i.is_approved }}</td>
                            </tr>

                        {% endfor %}

                    </tbody>
                </table>

            </div>








    </div>


{% endblock %}
