appdirs==1.4.4
asgiref==3.2.10
certifi==2020.6.20
cffi==1.14.3
cryptography==3.1.1
distlib==0.3.1
Django==3.1.2
et-xmlfile==1.0.1
filelock==3.0.12
idna==2.10
jdcal==1.4.1
mod-wsgi==4.7.1
mysqlclient==2.0.1
openpyxl==3.0.5
psycopg2==2.8.6
pycparser==2.20
pyOpenSSL==19.1.0
pytz==2020.1
selenium==4.0.0a6.post1
six==1.15.0
sqlparse==0.4.1
urllib3==1.25.10
virtualenv==20.0.33
wfastcgi==3.0.0
