{% extends 'branch/branch_base.html' %}
{% load static %}


{% block content %}
    <style href="{% static 'calenderForm/calenderForm.css' %}"></style>
    <script href="{% static 'calenderForm/calenderForm.js' %}"></script>

    <script>
    var myApp = new function () {
        this.printTable = function () {
            var tab = document.getElementById('tab');
            var win = window.open('', '', 'height=700,width=700');
            win.document.write(tab.outerHTML);
            win.document.close();
            win.print();
        }
    }
    </script>
    <style>
        .col-1 {

/*             padding: 30px; */
/*             float: left; */
/*             height: 100%; */
/*             z-index: 1010101010 */
            max-width: 100%;
		position: relative;
    		display: flex;
    		flex-direction: column;
        }

        .col-2 {
            max-width: 100%;
            position: center;
            margin-top: 4%;
            text-align: center;
            height: 100%;
            z-index: 1010101010
        }
	    .bi-bigWallet-fill{
		    position:relative;
		    left:30%;
	    }

       #total {
          text-align:right;
       }
    </style>

    <div style="height: 100%; width: 100%; padding: 20px" >

            <div   style=" border-color: darkgrey;" class="col-1" >


                 <form method="post" class="form-inline">
                    {% csrf_token %}
                    <h3 style="font-weight: bolder; font-family: Montserrat-ExtraBold">
                        Select Date Range For Premium Order
                    </h3>

                    <div  data-validate = "Message is required" style="margin-left: 5px;margin-top: 5px;">
                        <input class="input1" type="date" name="date_from" value="Date From" onclick="this.value=''">
                        <span class="shadow-input1"></span>
                    </div>
                    <div  data-validate = "Message is required" style="margin-left: 5px;margin-top: 5px;">
                        <input class="input1" type="date" name="date_to" value="Date to" onclick="this.value=''">
                        <span class="shadow-input1"></span>
                    </div>

                    <div class="container-contact1-form-btn" style="margin-left: 5px;margin-top: 5px;">
                        <button  type="submit"  value="Submit" class="contact1-form-btn">
                            <span>
                                Proceed
                                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                            </span>
                        </button>
                    </div>

			    </form>
            </div>


            <div class="col-2">

                <table id = 'tab' class="table table-hover " style="counter-reset: rowNumber;overflow:scroll;   ">
                    <input style="float: right;color: black;font-weight: bolder  ;font-family: Montserrat-ExtraBold;" type="button" value="Print Table" onclick="myApp.printTable()" />
                    <caption style=" color: black;font-weight: bolder  ;font-family: Montserrat-ExtraBold;caption-side: top;text-align: center;">
                        Premium Orders

                    </caption>
                    <thead>
                        </tr>
                        <tr>
                            <th style="color: black;font-weight: bolder  ;" scope="col">No</th>
                            <th style="color: black;font-weight: bolder  ;"scope="col">PolicyNumber</th>
                            <th style="color: black;font-weight: bolder  ;"scope="col">PolicyHolder</th>
                            <th style="color: black;font-weight: bolder  ;"scope="col">Amount</th>
                            <th style="color: black;font-weight: bolder  ;"scope="col">Due</th>
                            <th style="color: black;font-weight: bolder  ;"scope="col">Date</th>
                            <th style="color: black;font-weight: bolder  ;"scope="col">Time</th>
                            <th style="color: black;font-weight: bolder  ;"scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for i in all_orders %}
                            <tr style="color: black;font-weight: bolder  ;">
                                <td>{{ i.id }}</td>
                                <td>{{ i.policy_number }}</td>
                                <td>{{ i.policy_holder_name }}</td>
                                <td>{{ i.amount }}</td>
                                <td>{{ i.due_date }}</td>
                                <td>{{ i.date }}</td>
                                <td>{{ i.time }}</td>
                                <td>{{ i.completed }}</td>
                            </tr>

                        {% endfor %}

                    </tbody>
                    <tfoot style=" color: black;font-weight: bolder  ;font-family: Montserrat-ExtraBold;">
                        <tr>
                          <th id="total" colspan="3">Total :</th>
                          <td>{{ total_amount }}</td>
                        </tr>
                    </tfoot>
                </table>



            </div>



    </div>



{% endblock %}
