
{% extends 'branch/branchbase.html' %}
{% load static %}
{% block content %}
    
    <style>
        .col-1 {
            max-width: 800px;
/*             padding: 30px; */
/*             float: left; */
/*             height: 100%; */
/*             z-index: 1010101010 */
		position: relative;
    		display: flex;
    		flex-direction: column;
        }

        .col-2 {
            max-width: 500px;
            padding: 30px;
            text-align: center;
            float: right;
            height: 100%;
            z-index: 1010101010
        }
	    .bi-bigWallet-fill{
		    position:relative;
		    left:30%;
	    }


    </style>


    <div style="display: flex;justify-content: space-around;flex-wrap: wrap;" >


            <div class="col-1"  >
                <a class="btn btn-outline-primary" style="text-align: left; font-weight: bold" href="#">&#x20B9 My Earnings<br>MY: {{ myearnings }}<br>Referral: {{ referralearning }}<br>Total: {{ total }}</a>
                <a class="btn btn-outline-primary" style="text-align: left; font-weight: bold" href="{% url 'refernearn' %}">Click here to know more about Refer N Earn</a>

                <form method="post" class="form-inline" style="background-color: white;">
                    {% csrf_token %}

                    <h3 style="font-weight: bolder;color: black; font-family: Montserrat-ExtraBold;margin-left: 5.5%">Select Date Range </h3>


                    <div  data-validate = "Message is required" style="margin-left: 15%">
                        <input class="input1" type="date" name="dateFrom" value="Date From" onclick="this.value=''">
                        <span class="shadow-input1"></span>
                    </div>
                    <div  data-validate = "Message is required" style="margin-top: 5px;margin-left: 15%;">
                        <input class="input1" type="date" name="dateTo" value="Date to" onclick="this.value=''">
                        <span class="shadow-input1"></span>
                    </div>


                    <div class="container-contact1-form-btn" style="margin-top: 5px;margin-left: 20%;">
                        <button  type="submit"  value="Submit" class="contact1-form-btn">
                            <span>
                                Proceed
                                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                            </span>
                        </button>
                    </div>

			    </form>
            </div>

            <div  class="col-2" style=" border-color: darkgrey;" >


                <table class="table table-hover " style="counter-reset: rowNumber;overflow:scroll; ">
                <caption style="font-family: Montserrat-ExtraBold; color: black;font-weight: bolder  ;caption-side: top;text-align: center;">Referral's Earnings</caption>
                <thead>
                    </tr>
                    <tr>
                        <th style="color: black;font-weight: bolder  ;" scope="col">Referred</th>
                        <th style="color: black;font-weight: bolder  ;"scope="col">Earnings</th>
                    </tr>
                </thead>
                <tbody>

                    {% for i in referrals %}
                        <tr style="color: black;font-weight: bolder  ;">

                            {% for z in i %}

                                    <td>{{ z }}</td>

                            {% endfor %}

                        </tr>

                    {% endfor %}
                </tbody>
            </table>

            </div>

    </div>


{% endblock %}
