{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src='https://kit.fontawesome.com/a076d05399.js'></script>



<div  >
    <h1 style="font-weight: bolder; font-family: Montserrat-ExtraBold"> Privacy Policy </h1>
    Effective Date : 11/10/2020
        We, Technorigger LLP's Premium Collection Point  hereinafter referred to as “Premium Collection Point” value your trust &
        respect your privacy. This Privacy Policy provides you with details about the manner in which your data is collected,
        stored & used by us. You are advised to read this Privacy Policy carefully. By registering on Premium Collection Point
        platform, using any medium:, website, mobile site, you give us consent to use & disclose your personal information in
        accordance with this Privacy Policy. If you do not agree to the terms of the policy, please do not use or access
        Premium Collection Point.

        Note: Our privacy policy may change at any time without prior notification. To make sure that you are aware of any
        changes, kindly review the policy periodically. This Privacy Policy shall apply uniformly to Premium Collection
        Point website, mobile site, web/desktop plugins (individually and collectively referred to as “Website” hereafter).

        Throughout this policy, the terms “We” / “Us” / “Our” refer to Premium Collection Point and the terms
        “You” / “Your” / “Yourself” refer to the users.

        Premium Collection Point is providing this privacy policy to familiarize you with:

        Who and what this policy applies to

        The policy applies to all forms of information, physical and digital, whether collected or stored electronically or
        in hardcopy. We handle data in our own right and also for and on behalf of our customers and users. If, at any time,
        an individual provides data or other information about someone other than himself or herself, the individual warrants
        that they have that person’s consent to provide such information for the purpose specified. Premium Collection Point
        is not available to children (persons under the age of 18 years).
        By registering on our Website, you are accepting this Privacy Policy. By mere use of the Website, you expressly
        consent to our use and disclosure of your personal information in accordance with this Privacy Policy. This Privacy
        Policy is incorporated into and subject to our Terms and Conditions

        Information Collected
        When you use our Website, we collect and store your personal information which is provided by you from time to time.
        This allows us to provide services and features that most likely meet your needs, and to customize our Website to
        make your experience safer and easier. We collect personal information from you that we consider necessary for
        achieving this purpose.

        Premium Collection Point respects the privacy of its Users and is committed to protect such privacy as detailed herein.
        In addition, you may encounter "cookies" or other similar device on a web page. These are data collection devices to
        help analyze our web flow and measure promotional effectiveness. "Cookies" are small files placed on your hard drive
        that assist  Premium Collection Point in providing services to you and giving you information targeted to your
        interests. Most cookies are session cookies, meaning that they are automatically deleted from your hard drive at the
        end of a session. You are always free to decline a cookie if your browser permits. Once you create account (register)
        on Website and give us your personal information, you are not anonymous to us. Where possible, we indicate which fields
        are required and which fields are optional. If you are unable to provide the information we need, we may not be able
        to provide you with the product or service you have requested.

        The information that we collect from you would include:

        a) Personal identity information such as name, date of birth, residential status, postal address, e-mail address,
           mobile number, PAN details etc.
        b) Information which would help determine your eligibility to avail the services offered by Premium Collection Point.
        c) Information which would help Premium Collection Point process applications made by you for the use of services
           offered by Premium Collection Point.
        d) Any other information that Premium Collection Point is required to collect as per specific mandate from any
           bank/NBFC or as a requirement applicable as per the legal rules in India.

        Information Sharing and disclosure to third parties:
        Disclosure of your information may be required by us to provide you access to our services, to comply with our legal
        obligations, to prevent, detect, mitigate, and investigate fraudulent or illegal activities related to our services.
        We do not disclose your personal information to third parties except in accordance with the terms contained herein.

        We may disclose personal information if required to do so by law or in the good faith belief that such disclosure is
        reasonably necessary to respond to subpoenas, court orders, or other legal process. We may disclose personal
        information to law enforcement offices, third party rights owners, or others in the good faith belief that such
        disclosure is reasonably necessary to: enforce our Terms and Conditions or this Privacy Policy; respond to claims that
        an advertisement, posting or other content violates the rights of a third party; or protect the rights, property or
        personal safety of our users or the general public. We may disclose personal information to third parties who work on
        our behalf, provided that such third parties subscribe to the Principles (as defined below), have entered into an
        applicable data processing agreement, or adhere to confidentiality obligations consistent with this Privacy Policy.
        These companies are authorized to use your personal information only as necessary to provide respective services to
        you. These services may include providing cloud computing infrastructure, Website crash reporting, your Website usage
        pattern so that we can serve you better and providing customer support or account administration. If you would like
        to see the list of third parties with whom we currently share your information, you may request a copy of the list by
        emailing us at premiumollectionpoint.ltd@gmail.com.

        Data Retention
        We will retain your information for as long as your account is active or as needed to provide our services. We shall
        retain and use the information collected by us as necessary to comply with our legal obligations, resolve disputes or
        for other business purposes. If you cancel/ deactivate/ unsubscribe your account with us, we are not under any
        obligation to retain your information. However, we may retain your information for twelve (12) months after you
        cancel/ deactivate/ unsubscribe your account with us, as our business practice.

        Information Security
        You are aware of all security risks, including possible third-party interception of any of your transactions and
        statements of account on the internet and the content of your transactions or statements of account becoming known
        to third parties. You agree and undertake that you shall not hold Premium Collection Point liable therefore in any
        way. The use and storage of any information, including without limitation, the password, account information,
        transaction activity, account balances and any other information available on your internet access device or computer
        or mobile phone is at your own risk and responsibility. You furthermore acknowledge and accept that Premium Collection
        Point may not encrypt all content or communications from and to your website(s).

        Links to other sites
        Links to third-party advertisements, third-party websites or any third party electronic communication service may be
        provided on the Website which are operated by third parties and are not controlled by, or affiliated to, or associated
        with, Premium Collection Point unless expressly specified on the Website. Premium Collection Point is not responsible
        for any form of transmission, whatsoever, received by You from any third party website. Accordingly, Premium Collection
        Point does not make any representations concerning the privacy practices or policies of such third parties or terms of
        use of such third party websites, nor does Premium Collection Point control or guarantee the accuracy, integrity, or
        quality of the information, data, text, software, messages or other materials available on such third party websites.
        The inclusion or exclusion does not imply any endorsement by Premium Collection Point of the third party websites,
        the website's provider, or the information on the third party website. The information provided by You to such third
        party websites shall be governed in accordance with the privacy policies of such third party websites, and it is
        recommended that You review the privacy policy of such third party websites prior to using such websites.

        Acknowledgement:
        You hereby agree that the application and copies of all documents submitted by you are and shall remain the sole and
        exclusive property of Premium Collection Point, and Premium Collection Point shall not be obliged to return the same
        to you upon your request. Any unauthorized access to the Website is a breach of these terms and a violation of the
        law. You agree not to access the Website by any means other than through the interface that is provided by Premium
        Collection Point.

        You hereby acknowledge and agree that this Privacy Policy:

        a) is clear and easily accessible and provide statements of policies and practices Premium Collection Point with
           respect to the Information;
        b) provides for the various types of personal or sensitive personal data of information to be collected;
        c) provides for the purposes of collection and usage of the Information;
        d) provides for disclosure of Information; and
        e) provides for reasonable security practices and procedures.


    If you have any questions, you may write to Open Customer Support at connect.pcpoint@gmail.com
</div>



{% endblock content %}