{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src='https://kit.fontawesome.com/a076d05399.js'></script>

<div style="padding: 30px">
    <h1 style="font-weight: bolder; font-family: Montserrat-ExtraBold;text-align: center">Terms and Conditions</h1>
    <p>
        This Agreement describes the terms governing your use of the services provided to you on the Premium Collection Point
    platform, including content, updates and new releases, (collectively, the “Services”). It includes by reference.
        • Privacy Policy provided to you in the Services available on the website or provided to you otherwise.
        • Additional Terms and Conditions, which may include those from third parties.
        • Any terms provided separately to you for the Services, including product or program terms, ordering, activation,
          payment terms, etc.

    1] Scope
       These Terms apply to the services provided by Premium Collection Point to its customers, which includes
       facilitating online opening of an account on our website and activation of wallet, operation of the customer’s
       wallet,execution of any related payment transactions and placing order for payment of policy premium.For the
       use of such value added services the customer may have to accept additional terms and conditions in line with
       the terms of use of the service provider or the partner bank as notified to the customer when ordering or using
       such services.

       The customer and/or its representative shall accept these terms of service in connection with the registration to
       Premium Collection Point service, execution of a payment, or placing of an order, as applicable.
       Acceptance of these terms of service by the customer shall constitute the agreement between the parties relating
       to the subject matter set out herein.


    2] Definition
       For the purpose of these Terms, the following words and phrases shall have the meaning assigned to them under this
       Article.

       2.1 Services
       "Services" means the service provided by Premium Collection Point and Service Providers/banking partners to Users.

       2.2 User
       Shall mean any person who is boarded on the Premium Collection Point platform for using this Website and/or who
       transacts or avails of the Services through this Website. The term "User" shall also cover such personnel of any
       User who are authorized to avail of the Services on behalf of the User with full rights or limited rights login.

       2.3 Wallet
       Means Wallet maintained by Premium Collection Point as required by the RBI Guidelines.

       2.4 Service Provider
       Means a bank, association, company, partnership or any such facility provider whose facilities or services are
       utilized in the provision of these Services to Users through the Premium Collection Point platform.

       2.5 Transaction
       Means a payment instruction that results in the successful transfer of money.


    3] Eligibility
       Use of the service is available only to persons who can form legally binding contracts under Indian Contract Act,
       1872. Persons who are "incompetent to contract" within the meaning of the Indian Contract Act, 1872 including
       minors, un-discharged insolvents etc. are not eligible to use the service. You represent and warrant that you are
       at least 18 years old and all information you submit is true, accurate and complete while registering the account
       on service. If you are a minor i.e. under the age of 18 years, you shall not register as a user of the service and
       shall not transact on or use it.


    4] Registration
       In order to avail the Services, User must be registered with Premium Collection Point. User shall provide Premium
       Collection Point with all such documents as may be required for complying with the KYC norms of the partner banks
       and as per the RBI mandate. By registering with Premium Collection Point, User agrees to provide true, accurate,
       current and complete information failing which Premium Collection Point may at any time reject User's registration
       and terminate his right to use or access the Website and/or Services. When User registers with Premium Collection
       Point a User Account will be created, that is associated with User's username, password and other identifying
       information. User shall be responsible for anything that happens through his User Account.


    5] Wallet
       The user can add money in their wallet through the methods described in the website. Money once added in the
       wallet cannot be transfered anywhere unless it's used for placing an order. User will receive alerts whenever
       a transaction is done through their wallet.


    6] Settlement of payment
       Amount collected through the Premium Collection Point Wallet shall be made available to the User.It shall be
       construed that the intimation of completion of service to the end user is the point at which the User gives the
       instruction to withdraw the money from his wallet and use it to place an order. Premium Collection Point shall
       complete the transaction and send all payment related information to the user within 2 working days.
       All receipts and payments to and from the wallet shall be based on the banking settlement timelines as followed
       by the Bank.


    7] Cashback
       A User can receive cashback of 0.5% of total payment made by him/her in a month. The cashback will be
       credited in the user's wallet at the end of the month. Premium Collection Point reserves the right to change
       cashback rules anytime without prior notice to the users.


    8] Refer and Earn
       A User can receive 10% of total earnings of the User reffered to us by him. User has to follow the precedure
       given by us in website to refer someone. This cashback will be credited in the user's wallet at the end of the
       month. Premium Collection Point reserves the right to change Refer and Earn rules anytime without prior notice
       to the users.


    9] Access
       You are responsible for maintaining the confidentiality of your account and password and for restricting and
       preventing unauthorized access to your account. You agree to accept responsibility for all activities that occur
       under your account or password. You can access and update account details on the Service. You shall ensure that
       the account details provided are correct and complete at all times. Premium Collection Point reserves the right
       to refuse access to the service, terminate accounts, remove or edit content at any time without notice to you.
       Premium Collection Point will endeavor to ensure that access to and availability of the service remains uninterrupted
       and error free. However, access to the Application may occasionally be suspended or restricted to allow for
       repairs, maintenance or for the introduction of new facilities and services.


    10] Obligations and Rights
       User
       a) The User shall not:
       (i) carry out any activity, which is banned, illegal or immoral.
       (ii) Use the Services in any manner or in furtherance of any activity, which constitutes a violation of any law or
            regulation or which may cause Premium Collection Point to be subject to investigation, prosecution or legal
            action, including trading in contraband items or providing services or activities online prohibited by
            applicable laws.

       b) User shall act in compliance with all laws, rules and regulations and shall at all times comply with the
          guidelines set by UPI/Bank Transfer Service Providers.

       c) User shall not sell, provide, exchange, or otherwise disclose to third parties or use themselves (other than
          for the purpose of completing a Transaction, or as specifically required by law) any personal information about
          any third party, including the account details and mobile number, without obtaining the prior written consent
          of such third party.

       d) User shall take all precautions as may be feasible or as may be directed by Premium Collection Point to ensure
          that there is no breach of security and that the integrity of the link between their systems/ site, the Website
          and the payment mechanism is maintained at all times. In the event of any loss being caused as a result of the
          link being breached or as a consequence of the link being improper or being in violation of the provisions of
          this clause, the loss shall be to the account of the User and the User shall indemnify and keep indemnified
          Premium Collection Point and the Service Providers from any loss as may be caused in this regard.

       e) User shall bear and be responsible for the payment of all relevant taxes (including any applicable withholding
          taxes) as may be due.

       f) A User shall inform Premium Collection Point of any change in his email address, mobile number, address,
          ownership or legal status or his cessation of business in writing 30 working days in advance of such change.

       g) User shall be responsible for any miscommunication or incorrect User/ third party/ other information that may
          be provided to Premium Collection Point at the time of enabling the Services for the User.

       Premium Collection Point
       a) Premium Collection Point shall comply with all provisions regarding protection of customer funds as set out by
          the Reserve Bank of India through its banking wallet agreements. However, it is also clarified that all wallet
          funds are the sole responsibility of the Bank and shall be governed by the related guidelines of the Bank and RBI.

       b) Funds on the wallet do not expire, and no interest is paid on the funds. The funds in the Premium Collection Point
          wallet belong to the account user.

       c) Premium Collection Point has the right to conduct inspections, audits and/or impose additional conditions or
          restrictions relating to the customer or the use of customer’s wallet.

       d) Premium Collection Point shall exercise reasonable caution and checks in onboarding third party service providers;
          However the User acknowledges and agrees that the specific transaction risks shall be governed by the terms
          conditions between the User and the Service Provider.

       e) Premium Collection Point shall be responsible for Services directly provided to the User and the terms of this
          agreement shall govern the service delivery and completion.

       f) Premium Collection Point does not provide any banking services regulated by the Reserve Bank of India


    11] Security
       Subject to the provisions stated herein and as specified by Premium Collection Point from time to time, the User
       will not hold Premium Collection Point liable in case of any improper/ fraudulent/unauthorized/ duplicate/erroneous
       use of his mobile and/or the web based access. Open will also not be liable for any consequences connected with the
       use/ misuse of User's mobile/ e mail account by any third party. If any third parties gain access to the Services,
       the User will be responsible and shall indemnify Premium Collection Point against any liability, costs or damages
       arising out of such misuse / use by third parties based upon or relating to such access and use, or otherwise.
       The User shall be fully liable for: (a) any unauthorised use of his mobile/ email account; and/or (b) all
       authorised Transactions on his mobile/email account.


    12] Refunds/ Chargeback
       Amount collected through payment gateway with a confirmed chargeback from the Service Provider shall be refunded to
       the source from where the user made the transaction. The User shall pay the money to Premium Collection Point if
       the amount has already been settled to the User's account prior to the chargeback.

       (a)Any payments by a User using the Services, which is returned by the acquiring bank for any reason whatsoever.

       (b)Any charge/debit arising out of any alleged hacking breach of security or encryption that may be utilized by
          Service Provider/ Premium Collection Point from time to time.

       (c)Any Transaction that is unsuccessful.


    13] Termination
        In the event that you breach these Terms of Use or in the event that any other user or a third party reports
        violation of any of its rights as a result of your use of the Services, Premium Collection Point reserves the
        right, to suspend or terminate such your access to the service with or without notice to you, and to exercise any
        other remedy available under the law.
        Premium Collection Point shall have the right to indefinitely suspend or block access to your membership on the
        Web Application and/or refuse to provide you access to the Application if:

        (i) If you engage in or are suspected of engaging in any illegal, fraudulent or abusive activity.
        (ii) If you provide any information that is untrue, inaccurate, not current or incomplete in any respect or we
             have reasonable grounds to suspect that such information is untrue, inaccurate, not current or incomplete,
             or not in accordance with the Terms of Use.


    14] Indemnity
        User shall keep Premium Collection Point indemnified from and against any and all liability (including but not
        limited to liabilities, judgments, damages, losses, claims, costs and expenses,) or any other loss that may occur,
        arising from or relating to any claim, suit or proceeding brought against Open by another User/ Service Provider/
        third party for reasons including, but not limited (i) a breach, non-performance, non-compliance or inadequate
        performance by the User of any of the terms, conditions, representations, obligations or warranties made by him;
        (ii) any acts, errors, misrepresentations, willful misconduct or negligence of the User, or his employees,
        subcontractors and agents in performance of their obligations under these Terms.

        The User shall comply with all such terms and conditions as Premium Collection Point or any Service Provider may
        prescribe from time to time with regard to the Services. All Transactions effected by or through this Website,
        shall constitute legally binding and valid transactions when done in adherence to and in compliance with the
        terms and conditions prescribed by Premium Collection Point Service Provider.


    15] Confidentiality
        User agrees not to disclose or attempt to use or personally benefit from any non-public information that he may
        learn on the Website or through the Services. This obligation shall continue until such time as the non-public
        information has become publicly known through no action of your own. If you are compelled by order of a court or
        other governmental or legal body (or have notice that such an order is being sought) to divulge any such non-public
        information, you agree to promptly and diligently notify Premium Collection Point and cooperate fully with Premium
        Collection Point in protecting such information to the extent possible under applicable law.


    16] Limitation of Liability
        User acknowledges and agrees that, to the maximum extent permitted by law, the entire risk arising out of your
        access to and use of the website and services, remains with you. Neither Premium Collection Point nor any other
        party involved in providing or delivering the website or services will be liable for any incidental, special,
        exemplary or consequential damages, including lost profits, loss of data or loss of goodwill, service interruption,
        computer damage or system failure or the cost of substitute services, or in connection with these terms, as a
        result of your use of the website or services, whether based on warranty, contract, tort (including negligence),
        product liability or any other legal theory, and whether or not open has been informed of the possibility of such
        damage, even if a limited remedy set forth herein is found to have failed of its essential purpose.


    17] General Terms
        a) Premium Collection Point may, if required, can change cashback rules anytime without prior notice to the
           user.

        b) Premium Collection Point shall not make any refunds of any amounts other than as agreed by these Terms.

        c) Premium Collection Point reserves the right to vary any of the Terms contained herein by posting the revised
           terms on Premium Collection Point Website without notice to the User.

        d) The User hereby accepts that he may, from time to time, receive from Premium Collection Point or its associates,
           communications such as service announcements, advertisements or administrative communications.

        e) All information provided by the User to Premium Collection Point shall be accurate, current and complete.
           User shall be solely responsible for the accuracy and correctness of all information provided by him.

        f) Premium Collection Point shall not be liable for any loss or costs incurred by any party due to any incorrect
           or mistaken information provided by User.

        g) Premium Collection Point shall not be liable for any direct, indirect, punitive, incidental, exemplary, special
           or consequential damages or any loss of profit, business, revenue, goodwill or anticipated savings or any
           damages whatsoever arising out of or in any way connected with the use of the Website by User or otherwise.

        h) Premium Collection Point or Service Provider shall in no event be liable to a User or any third party for any
           loss or damage whatsoever or howsoever caused arising directly or indirectly in connection with the Website
           and Services.

        i) In no event shall Premium Collection Point or a Service Provider be liable to a User or any other third party
           for any applicable taxes and government levies.

        j) Any link on the Premium Collection Point Website to a third party site is not an endorsement of that Website.
           The use or browsing by a User of any other Website shall be subject to the terms and conditions in each such
           Website.

        k) Premium Collection Point does not endorse any advertiser or merchant linked to its Website. The User must
           verify all information provided by the merchants/ advertisers before arriving at his decision to purchase any
           Product.

        l) Premium Collection Point shall not be liable for any unauthorised access to the User's data or any unauthorized
           transmissions sent through the Premium Collection Point Services.

        m) The User shall not (whether on-line or otherwise):describe itself as agent or representative of Premium
           Collection Point or make any representations to any customer or any third party or give any warranties which
           may require Premium Collection Point or Service Provider to undertake to or be liable for, whether directly or
           indirectly, any obligation and/or responsibility to customer or any third party.

        n) Premium Collection Point shall not be liable for any breach of these Terms due to any force-majeure event such
           as act of god, fire, lightning, explosion, flood, inclement weather conditions, power failures, failure in any
           communication systems, equipment breakdown, strikes, lock-out or any other cause beyond the control of Premium
           Collection Point.

        o) If any part of these Terms is determined to be invalid or unenforceable pursuant to applicable law including,
           but not limited to, the warranty disclaimers and liability limitations set forth herein, then the invalid or
           unenforceable provision will be deemed superseded by a valid, enforceable provision that most closely matches
           the intent of the original provision and the remainder of the Terms shall continue in effect.

        p) Premium Collection Point may access, preserve and disclose any of your information if required to do so by law,
           or if we believe in good faith that it is reasonably necessary to (i) respond to claims asserted against Premium
           Collection Point or to comply with legal process, (ii) for fraud prevention, risk assessment, investigation,
           customer support, product development and de-bugging purposes, or (iii) protect the rights, property or safety
           of Premium Collection Point, its Users or members of the public.
    </p>



</div>



{% endblock content %}