*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'sans-serif';
}

html,body{
    width: 100%;
    height: 100%;
}

#background{
    display: flex;
    width: 100%;
    height: 100%;
    background-image: url("/static/newback.png");
    background-size: cover;
    background-position: top;
    position: relative;
}

#navbar{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: black;
    margin-top: 30px;
    padding: 0 50px;
    z-index: 2;
}

#navbar img{
    position: relative;
    width: 25px;
    height: 25px;
    z-index: 10;
    cursor: pointer;
}

#navbar img:hover{
    transform: scale(1.2);
    transition: .2s;
}

#navbar #list a{
    position: relative;
    left: -80%;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    margin-right: 30px;
}

#navbar #profile{
    width: 135px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navbar #profile h5{
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

#navbar #profile i{
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

#sidebar{
    width: 130px;
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
}

#sidebar #search{
    margin: 110px 0;
    color: white;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

#sidebar #socialLinks{
    display: flex;
    flex-direction: column;
    margin-bottom: 120px;
    justify-content: space-between;
    height: 110px;
    font-size: 15px;
    font-weight: 100;
    color: white;
}

#sidebar #socialLinks a{
    text-decoration: none;
    color: white;
}

#sidebar #socialLinks a:hover{
transform: scale(1.5);
transition: .2s;
}

#sidebar #info{
    margin-bottom: 30px;
    color: white;
    font-size: 15px;
    font-weight: 100;
    cursor: pointer;
}

#container{
    display: inline-flex;
    position: relative;
    width: 410px;
    height: 280px;
    /* background-color: rgb(180, 175, 175); */
    left:20%;
    top: 60%;
    transform: translate(-50%,-50%);
    overflow: hidden;
}

#slider{
    display: inline-flex;
    transition: .5s;
}

.text{
    position: relative;
    top: 50%;
    left: 1%;
    transform: translate(0, -50%);
}

.text h1{
    font-size: 50px;
    font-weight: 500;
    color: #f3f3f3;
    margin-bottom: 30px;
}

.text p{
    width: 405px;
    font-size: 25px;
    font-weight: 100;
    color: #f3f3f3;
    margin-bottom: 30px;
    line-height: 20px;
}

.text button{
    width: 120px;
    height: 35px;
    background-color: transparent;
    color: #f3f3f3;
    font-size: 14px;
    font-weight: 500;
    border: 2px solid #f3f3f3;
    border-radius: 50px;
    outline: none;
}

.text button:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: .2s;
}

#controller{
    width: 8px;
    height: 320px;
    background-color: white;
    display: block;
    position: absolute;
    top: 60%;
    right: 50px;
    transform: translateY(-50%);
}

#line1,#line2,#line3,#line4{
    display: flex;
    justify-content: center;
    width: 10px;
    height: 80px;
    cursor: pointer;
    transform: translateX(-50%);
}

#slide{

    position: absolute;
    top: 0;
    width: 5px;
    height: 80px;
    background-color: black;
    transform: translateX(-43%);
    border-radius: 50px;
    transition: .5s;
}

a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}
